<mat-toolbar color="primary" class="mat-elevation-z5">
  <nav class="navbar navbar-expand-sm navbar-light ">
    <!--navbar-expand-md  -->
    <div class="container-fluid">
      <!--     <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button> -->
      <div class="" id="navbarNav">
        <!--collapse navbar-collapse  -->
        <ul class="navbar-nav">
          <li class="nav-item">
            <a class="nav-link active" aria-current="page" routerLink="/home">Ambiente Angular</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" routerLink="/user-form">Formulário</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" routerLink="/api">API Rick and Morty</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" routerLink="/diretivas">Diretivas</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" routerLink="/data-binding">Data-Binding</a>
          </li>

        </ul>
      </div>
    </div>
  </nav>
</mat-toolbar>
