.example-card {
  width: 350px;
  margin: 10px;
}

.example-header-image {
  width: 45px;
  margin-right: 10px;
}

.mat-card-header{
  justify-content: space-between;
}
.mat-card-image{
  width: 300px;
  margin: auto;
  margin-bottom: 15px;
  border-radius: 3px;
}
