
<main>
  <h2 class="text-center my-5">LISTAGEM DE PERSONAGENS RICK AND MORTY</h2>

<section class="d-flex align-items-center justify-content-center flex-wrap my-4">

  <mat-card class="example-card mat-elevation-z15" *ngFor="let p of personagens">
    <mat-card-header>
      <div>
        <img mat-card-avatar class="example-header-image" [src]="p.image" alt="Photo of a Shiba Inu">
      </div>
      <mat-card-title>{{ p.name }}</mat-card-title>
      <mat-card-subtitle>{{ p.species }}</mat-card-subtitle>
    </mat-card-header>
    <img mat-card-image [src]="p.image" alt="Photo of a Shiba Inu">
    <mat-card-content>
      <mat-card-subtitle>{{ p.species }}</mat-card-subtitle>
      <mat-card-subtitle>{{ p.status }}</mat-card-subtitle>
    </mat-card-content>
  </mat-card>
</section>
</main>
